<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523610506321-iq739cfdsa92bo0cmmufdgq3bq7a346q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523610506321-iq739cfdsa92bo0cmmufdgq3bq7a346q</string>
	<key>API_KEY</key>
	<string>AIzaSyB3ZTMl5Kuy1uplHOdpvhh4v_Ld3O-QZno</string>
	<key>GCM_SENDER_ID</key>
	<string>523610506321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rowanmockler.Wakey</string>
	<key>PROJECT_ID</key>
	<string>wakey-3bf93</string>
	<key>STORAGE_BUCKET</key>
	<string>wakey-3bf93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523610506321:ios:f3c77375882d0728816470</string>
	<key>DATABASE_URL</key>
	<string>https://wakey-3bf93.firebaseio.com</string>
</dict>
</plist>